<br>
<mat-form-field class="example-form">
  <input matInput type="text" [(ngModel)] = "searchInput" placeholder="Filter lifts">
  <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
    <mat-icon>close</mat-icon></button>
</mat-form-field>
<br>
<br>
<div *ngFor="let tripObject of lifts | filterLift: searchInput" class="lift-container">

  <app-trip (tripDeleteEmitter)="onDeleteLift($event)" (tripEditEmitter)="onEditLift($event)" [trip]="tripObject" ></app-trip>

</div>

<button (click)="onTestClick()">Don't click me</button>
{{isLift}}
