

<form [formGroup]="registerForm" class="example-form" (ngSubmit)="onRegisterClick()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="first name" formControlName="firstName">
      <div *ngIf="registerForm.controls.firstName.hasError('required')">
        Please provide a first name
      </div>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="last name" formControlName="lastName">
      <div *ngIf="registerForm.controls.lastName.hasError('required')">
        Please provide a last name
      </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="e-mail" formControlName="email">
        <div *ngIf="registerForm.controls.email.hasError('email')">
            Please provide an e-mail address
        </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="password" type="password" formControlName="password">
        <div *ngIf="registerForm.controls.password.hasError('required')">
            Please provide a password
        </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="city" formControlName="city">
        <div *ngIf="registerForm.controls.city.hasError('required')">
            Please provide your city
        </div>
    </mat-form-field>
          
    <mat-form-field class="example-full-width">
        <input matInput placeholder="date of birth" type="date" formControlName="birthDate">
        <div *ngIf="registerForm.controls.birthDate.hasError('required')">
            Please provide your date of birth
        </div>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input matInput placeholder="phone number" type="number" formControlName="phoneNumber">
        <div *ngIf="registerForm.controls.phoneNumber.hasError('required')">
            Please provide your phone-number
        </div>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </form>

  <router-outlet></router-outlet>
  